.title {
  font-size: 30px;
  text-align: center;
}

.content {
  text-align: center;
  input {
    height: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 10px;
  }

  button {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #4c77f8;
    border: #4c77f8;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
}
